<!-- "advantages_insert.html" -->

<div class="relative z-10 flex items-center min-h-[200px] py-20 text-zinc-200 overflow-hidden bg-pink-800">
    <!-- Затемнение фона -->
    <div class="absolute top-0 left-0 -z-10 h-full w-full bg-black/40"></div>

    <div class="container mx-auto px-4 max-w-screen-xl w-full relative z-10">
        <div class="flex flex-wrap items-center -mx-4">

            <!-- Левая часть: Заголовок -->
            <div class="w-full px-4 lg:w-[40%] mb-12 lg:mb-0">
                <h2 class="text-4xl font-light tracking-tight lg:text-5xl !leading-[1.1]">
                    Наши <br> преимущества
                </h2>
            </div>

            <!-- Правая часть: Сетка преимуществ 2x2 -->
            <div class="w-full px-4 lg:w-[60%]">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-16 gap-y-12">

                    <!-- Элемент 1 -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-history  text-xl text-zinc-200"></i>
                        <span class="text-lg font-extralight tracking-wide text-zinc-200">Больше 9 лет в организации мероприятий</span>
                    </div>

                    <!-- Элемент 2 -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-briefcase text-xl text-zinc-200"></i>
                        <span class="text-lg font-extralight tracking-wide text-zinc-200">Больше 50 собственных проектов</span>
                    </div>

                    <!-- Элемент 3 -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-award text-xl text-zinc-200"></i>
                        <span class="text-lg font-extralight tracking-wide text-zinc-200">Только профессиональные музыканты</span>
                    </div>

                    <!-- Элемент 4 -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-bolt text-xl text-zinc-200"></i>
                        <span class="text-lg font-extralight tracking-wide text-zinc-200">Предоставление звукового и светового оборудования</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
